@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0%;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.content {
  max-width: 1100px;
  width: 100%;
  padding: 2rem 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 500px;
  height: 400px;
  margin: 73px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.login>div>.title {
  color: #1E7CE8;
  font-weight: 500;
  text-align: center;
  padding: 50px;
}

input[type=email],
input[type=password],
button[type=submit] {
  width: 80%;
  padding: 12px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #9b9b9b;
  border-radius: 2px;
  box-sizing: border-box;
}

form>.email,
.password,
.submit {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

form>.submit {
  margin-top: 40px;
}

form>.email>input,
.password>input {
  border-radius: 4px;
}

.submit>button {
  background-color: #FFCB1F;
  border-radius: 5px;
  border-style: none;
}

.register {
  display: flex;
  justify-content: center;
}

.register>h5 {
  font-weight: 300;
}

.register>#register,
a {
  color: #58A7DF;
}

@media (max-width: 1024px) {
  main {
    background: #fff;
    padding: 0;
  }


  .login {
    margin: 0;
  }
}
@media (max-width: 769px) {
  .content{
    padding: 0px;
  }
}
